html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colors
=========================*/
/* Breakpoints
=========================*/
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f4f4f4; }
  @media only screen and (max-width: 480px) {
    body {
      background-color: #fff; } }
  body * {
    font-family: sans-serif; }

.container {
  max-width: 1100px;
  width: 90%;
  padding: 45px 0;
  margin: 20px auto;
  background-color: #fff; }
  @media only screen and (max-width: 995px) {
    .container {
      width: 97%; } }
  @media only screen and (max-width: 480px) {
    .container {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 80px; } }

.wrapper {
  width: 93%;
  margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    .wrapper {
      width: 90%; } }

a {
  text-decoration: none; }

h1 {
  font-size: 52px;
  font-weight: bold; }
  @media only screen and (max-width: 995px) {
    h1 {
      font-size: 40px; } }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 23px;
  font-weight: bold; }
  @media only screen and (max-width: 995px) {
    h2 {
      font-size: 20px; } }

.hide {
  display: none; }

::-webkit-scrollbar {
  width: 10px;
  background: #e0e0e0; }

::-webkit-scrollbar-track {
  border-radius: 15px; }

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #d3d3d3;
  -webkit-box-shadow: inset 0 0 6px #000;
  box-shadow: inset 0 0 6px #000; }

.filter-section .filter .header, .filter-section .result ul {
  padding: 27px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (max-width: 995px) {
    .filter-section .filter .header, .filter-section .result ul {
      padding: 16px 10px; } }
  .filter-section .filter .header li, .filter-section .result ul li {
    width: calc(100% / 5);
    padding-right: 10px;
    color: #000;
    font-size: 17px;
    word-break: break-word; }
    @media only screen and (max-width: 995px) {
      .filter-section .filter .header li, .filter-section .result ul li {
        font-size: 14px; } }
.filter-section .filter {
  overflow-x: auto; }
  @media only screen and (max-width: 767px) {
    .filter-section .filter .wrap {
      width: 170%; } }
  @media only screen and (max-width: 480px) {
    .filter-section .filter .wrap {
      width: 210%; } }
  .filter-section .filter .header {
    background-color: #e7e7e7;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0; }
    .filter-section .filter .header li {
      font-weight: bold; }
.filter-section .results {
  height: 500px; }

/*# sourceMappingURL=style.css.map */
