html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colors
=========================*/
/* Breakpoints
=========================*/
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f4f4f4; }
  @media only screen and (max-width: 480px) {
    body {
      background-color: #fff; } }
  body * {
    font-family: sans-serif;
    color: #000; }

.container {
  max-width: 1100px;
  min-height: 100vh;
  width: 90%;
  padding: 45px 0;
  border: 1px solid #000;
  margin: 20px auto;
  background-image: linear-gradient(to right, #fcd261, #f56c2a); }
  @media only screen and (max-width: 995px) {
    .container {
      width: 97%; } }
  @media only screen and (max-width: 767px) {
    .container {
      width: 100%;
      padding-bottom: 80px;
      border: none;
      margin: 0 auto; } }

.wrapper {
  width: 93%;
  margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    .wrapper {
      width: 95%; } }

a {
  text-decoration: none; }

h1 {
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: bold; }
  @media only screen and (max-width: 995px) {
    h1 {
      font-size: 40px; } }
  @media only screen and (max-width: 480px) {
    h1 {
      margin-bottom: 25px;
      font-size: 32px; } }

.hide {
  display: none; }

.filter-section .country-list {
  width: 200px;
  padding: 10px;
  margin: 5px 0 20px;
  border: 2px solid #000;
  background: #f56c2a;
  font-size: 17px;
  outline: none; }
  @media only screen and (max-width: 995px) {
    .filter-section .country-list {
      font-size: 14px; } }
  @media only screen and (max-width: 480px) {
    .filter-section .country-list {
      font-size: 12px; } }
.filter-section .filter .header, .filter-section .result ul {
  padding: 27px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (max-width: 995px) {
    .filter-section .filter .header, .filter-section .result ul {
      padding: 16px 10px; } }
  @media only screen and (max-width: 480px) {
    .filter-section .filter .header, .filter-section .result ul {
      padding: 16px 8px; } }
  .filter-section .filter .header li, .filter-section .result ul li {
    width: calc(100% / 5);
    padding-right: 10px;
    font-size: 17px;
    word-break: break-word; }
    @media only screen and (max-width: 995px) {
      .filter-section .filter .header li, .filter-section .result ul li {
        font-size: 14px; } }
    @media only screen and (max-width: 480px) {
      .filter-section .filter .header li, .filter-section .result ul li {
        padding-right: 5px;
        font-size: 10px; } }
.filter-section .filter .header-container {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, #fcd261, #f56c2a); }
.filter-section .filter .header {
  width: 100%;
  border: 1px solid #000;
  background-color: #fcd261; }
  .filter-section .filter .header li {
    font-weight: bold; }
.filter-section .message {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  text-align: center; }
  .filter-section .message.hide {
    display: none; }
.filter-section .loader {
  width: 50px;
  margin: 30px auto 0;
  display: block; }
  .filter-section .loader.hide {
    display: none; }

/*# sourceMappingURL=style.css.map */
