/* Colors
=========================*/
$colors: (
  primary: #000,
  secondary: #fff,
  grey: #f4f4f4,
  yellow: #fcd261,
  orange: #f56c2a,
);

/* Breakpoints
=========================*/
$breakpoints: (
  ipad-size: 996px,
  ipad: 995px,
  iphone: 767px,
  iphone-potrait: 480px,
);